:root {
  --paragraph-1: rgba(0, 0, 0, 1);
  --divider: rgba(0, 0, 0, 1);
  --ST-header-1-font-family: "Instrument Sans", Helvetica;
  --ST-header-1-font-weight: 400;
  --ST-header-1-font-size: 41.470001220703125px;
  --ST-header-1-letter-spacing: -2.073500061035156px;
  --ST-header-1-line-height: 110.00000238418579%;
  --ST-header-1-font-style: normal;
  --ST-header-2-font-family: "Instrument Sans", Helvetica;
  --ST-header-2-font-weight: 400;
  --ST-header-2-font-size: 34.560001373291016px;
  --ST-header-2-letter-spacing: -1.0368000411987304px;
  --ST-header-2-line-height: 110.00000238418579%;
  --ST-header-2-font-style: normal;
  --ST-header-3-font-family: "Instrument Sans", Helvetica;
  --ST-header-3-font-weight: 400;
  --ST-header-3-font-size: 28.799999237060547px;
  --ST-header-3-letter-spacing: -0.575999984741211px;
  --ST-header-3-line-height: 100%;
  --ST-header-3-font-style: normal;
  --ST-header-4-font-family: "Instrument Sans", Helvetica;
  --ST-header-4-font-weight: 400;
  --ST-header-4-font-size: 24px;
  --ST-header-4-letter-spacing: -1.2px;
  --ST-header-4-line-height: 100%;
  --ST-header-4-font-style: normal;
  --ST-header-5-font-family: "Instrument Sans", Helvetica;
  --ST-header-5-font-weight: 600;
  --ST-header-5-font-size: 16px;
  --ST-header-5-letter-spacing: -0.48px;
  --ST-header-5-line-height: 110.00000238418579%;
  --ST-header-5-font-style: normal;
  --ST-paragraph-font-family: "Instrument Sans", Helvetica;
  --ST-paragraph-font-weight: 400;
  --ST-paragraph-font-size: 20px;
  --ST-paragraph-letter-spacing: -1px;
  --ST-paragraph-line-height: 121.00000381469727%;
  --ST-paragraph-font-style: normal;
  --ST-paragraph-2-font-family: "Instrument Sans", Helvetica;
  --ST-paragraph-2-font-weight: 400;
  --ST-paragraph-2-font-size: 16px;
  --ST-paragraph-2-letter-spacing: -0.48px;
  --ST-paragraph-2-line-height: 110.00000238418579%;
  --ST-paragraph-2-font-style: normal;
  --ST-nav-link-font-family: "Instrument Sans", Helvetica;
  --ST-nav-link-font-weight: 400;
  --ST-nav-link-font-size: 20px;
  --ST-nav-link-letter-spacing: -1px;
  --ST-nav-link-line-height: 100%;
  --ST-nav-link-font-style: normal;
  --ST-text-link-font-family: "Instrument Sans", Helvetica;
  --ST-text-link-font-weight: 500;
  --ST-text-link-font-size: 16px;
  --ST-text-link-letter-spacing: -0.48px;
  --ST-text-link-line-height: 110.00000238418579%;
  --ST-text-link-font-style: normal;
  --ST-text-link-2-font-family: "Instrument Sans", Helvetica;
  --ST-text-link-2-font-weight: 500;
  --ST-text-link-2-font-size: 20px;
  --ST-text-link-2-letter-spacing: -0.6px;
  --ST-text-link-2-line-height: 110.00000238418579%;
  --ST-text-link-2-font-style: normal;
  --ST-display-font-family: "Instrument Sans", Helvetica;
  --ST-display-font-weight: 500;
  --ST-display-font-size: 70px;
  --ST-display-letter-spacing: -2.1px;
  --ST-display-line-height: 122.00000286102295%;
  --ST-display-font-style: normal;
  --nav-link-font-family: "Instrument Sans", Helvetica;
  --nav-link-font-weight: 400;
  --nav-link-font-size: 20px;
  --nav-link-letter-spacing: -1px;
  --nav-link-line-height: 100%;
  --nav-link-font-style: normal;
  --header-header-2-font-family: "Instrument Sans", Helvetica;
  --header-header-2-font-weight: 400;
  --header-header-2-font-size: 37px;
  --header-header-2-letter-spacing: -1.11px;
  --header-header-2-line-height: 100%;
  --header-header-2-font-style: normal;
  --header-header-5-font-family: "Instrument Sans", Helvetica;
  --header-header-5-font-weight: 600;
  --header-header-5-font-size: 16px;
  --header-header-5-letter-spacing: -0.48px;
  --header-header-5-line-height: 100%;
  --header-header-5-font-style: normal;
  --paragraph-2-font-family: "Instrument Sans", Helvetica;
  --paragraph-2-font-weight: 400;
  --paragraph-2-font-size: 16px;
  --paragraph-2-letter-spacing: -0.48px;
  --paragraph-2-line-height: 110.00000238418579%;
  --paragraph-2-font-style: normal;
  --text-link-font-family: "Instrument Sans", Helvetica;
  --text-link-font-weight: 500;
  --text-link-font-size: 16px;
  --text-link-letter-spacing: -0.48px;
  --text-link-line-height: 110.00000238418579%;
  --text-link-font-style: normal;
}
